.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}

.form {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding: 39px;
  background-color: rgba(255, 255, 255, 0.615);
  border-radius: 14px;
  width: 400px;
}

.input {
  background-color: #fff;
  padding: 10px 13px;
  border: 1px solid #000;
  border-radius: 8px;
  width: 300px;
}

.input:focus {
  outline: 1px solid #080be2;
}
.errorMessage {
  color: red;
  display: block;
}

.error {
  border-color: red;
  background-color: #ffe6e6;
  color: red;
}

.login {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: #45a049; /* Цвет фона при наведении */
}

.login_eyeicon {
  color: #7875b5;
  cursor: pointer;
  position: absolute;
  bottom: 164px;
  right: 60px;
  font-size: 23px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049; /* Цвет фона при наведении */
}
