* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}
main {
  flex-grow: 1;
}

.container {
  display: flex;
  max-width: 1280px;
  padding-right: 20px;
  padding-left: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
.container-signup {
  display: block;

  justify-content: center;
  gap: 10px;
}
.logout {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.logout:hover {
  border: 1px solid rgb(21, 21, 97);
  background-color: rgba(0, 0, 255, 0.171);
}

.signUp {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.signUp:hover {
  border: 1px solid rgb(21, 21, 97);
  background-color: rgba(0, 0, 255, 0.171);
}

.container-projects {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 140px;
  margin-bottom: 40px;
}
.projects {
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.projects h2 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(30, 30, 124);
  line-height: 45px;
}

.projects h3 {
  font-size: 23px;
  color: white;
  background-color: rgb(36, 50, 250);
  padding: 6px 8px;
  border-radius: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.links p {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
  color: rgb(2, 2, 40);
}

.links p .apps {
  color: blue;
}

.container-home {
  display: flex;
  flex-direction: column;
}

.container-home ul {
  list-style: none;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.select-container select {
  width: 220px;
  border-radius: 10px;
  padding: 15px 10px;
  border: none;
  background-color: rgba(0, 0, 255, 0.51);
  color: #333;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 120px;
}

.data-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.data-item {
  width: 540px;
  height: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #1c47c72d;
  color: black;
  border-radius: 11px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: box-shadow 0.3s ease;
}

.data-item:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
